<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/normalize.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/960.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/superfish.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/prettyPhoto.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/fix.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/tipsy.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/skins/skyblue.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/options.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Philosopher:n,i,b,bi" type="text/css">
<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{app.path}}/{{theme}}/css/ie8.css" type="text/css" media="all" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 8]>
	<div style="clear:both; text-align:center; position:relative;">
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
			<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" />
		</a>
	</div>
<![endif]-->
