<div class="contact-info">
    <div class="address col1">{{values.datosContacto.direccion}} {{values.datosContacto.codigoPostal}} {{values.datosContacto.poblacion}} {{values.datosContacto.provincia | upper}}</div>    
    <div class="phone col2">{{values.datosContacto.telefono1}}</div>
    {#<div class="fax col2">(03) 9654 0354}}</div>#}
    <div class="mobile col2">{{values.datosContacto.telefono2}}</div>
    <div class="email col2">{{values.datosContacto.emailInfo}}</div>
    <div class="web col2">{{values.datosContacto.dominio}}</div>
</div>