{% extends layout %}

{% block contenido %}
    <div class="col_drcha">
        {% include 'Index/sliderImagenes.html.twig' %}
	<div class="media">
            {% include 'Index/novedades.html.twig' %}
            {% if values.eventos %}
                {% include 'Index/eventos.html.twig' %}           
                {# include 'Index/contenidos.html.twig' #}
            {% else %}
                {% include 'Index/contenidosVisitados.html.twig' %}  
            {% endif %}
	</div>

	<div class="media">
            <div class="media_izqda border_top">
                <span class="raya azul"></span>
                <h1>{{macro.idioma('bienvenidaDelPresidente')}}</h1>
                <img src="{{app.path}}/{{theme}}/{{values.presidente.getPathNameImagenN(1)}}" alt="{{macro.idioma('bienvenidaDelPresidente')}}" title="{{macro.idioma('bienvenidaDelPresidente')}}" />
                <p>{{values.presidente.Resumen}}</p>
                {{ macro.link(macro.idioma('ampliar'),none,values.presidente.Href.url,values.presidente.Href.targetBlank,none,'boton right') }}
            </div>
                
            {% include 'Index/albumes.html.twig' %}  

	</div>
    </div>	
{% endblock %}

