{% if values.testimonios | length > 0 %}
<div class="widget_persianart_cycleposts widget">
    <div class="h-wrapper">
        <h3>{{macro.idioma('testimonios')}}<span class="line"></span></h3>
    </div>
    <div id="testimonial-cycle-widget">
        <div class="testimonial-widget-nav">
            <div class="next"></div>
            <div class="prev"></div>
        </div>

        <div id="testimonial-widget-1">
            <ul>
		{% for testimonio in values.testimonios %} 
                    {% set imagen = testimonio.PathNameImagenN(2) %}                    
                    <li class="testimonial testi-widget {% if not imagen %}testi-noimage{%endif%}">
                        {% if imagen %}
                            <div class="testi-pic">
                                <a href="{{testimonio.Href.url}}"><img src="{{app.path}}/{{theme}}/{{imagen}}" title="{{testimonio.Titulo}}" alt="{{testimonio.Titulo}}" /></a>
                            </div>
                        {% endif %}                    

                        <div>
                            {{testimonio.Resumen}}
                            <span class="testi-name">
                                <span class="testi-user">{{macro.link(testimonio.Titulo,none,testimonio.Href.url,testimonio.Href.targetBlank)}}</span>
                            </span>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endif %}