{% extends layout %}

{% set servicio = values.servicio.servicio %}
{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div class="h-wrapper h1 grid_12">
	<h1>{{servicio.Titulo}}<span class="line"></span></h1>
    </div>       
    <div id="content" class="grid_8">	
        {% if servicio.PathNameImagenN(1) %}
        <div class="featured-thumbnail image-frame left">
            <div class="image-wrap">
                <img src="{{theme}}/{{servicio.PathNameImagenN(1)}}" alt="{{servicio.Titulo}}" title="{{servicio.Titulo}}" />
            </div>
        </div>
        {% endif %}
        <h4>{{servicio.Subtitulo}}</h4>
        {% autoescape false%}{{servicio.Resumen}}{% endautoescape %}                           						
    </div>
    {% include 'Servicios/sidebar.html.twig' %}      
    {% include 'Servicios/otrosServicios.html.twig' %}           
</div>
{% endblock %}