{# SECCIONES BLOG EN PORTADA #}
{% if values.seccionesBlog.secciones | length > 0 %}
<div class="posts shortcode grid_12 cols carousel">
    <div class="h-wrapper">
        <h3 class="header">{{macro.idioma('nuestroBlog')}}<span class="line"></span></h3>
    </div>
    <div class="posts-shortcode-wrapper">
        {% if values.seccionesBlog.paginacion.totalItems > 4 %}
        <div class="posts-shortcode-nav">
            <div id="posts-shortcode-prev-1" class="prev"></div>
            <div id="posts-shortcode-next-1" class="next"></div>
        </div>
        {% endif %}
        <div id="posts-shortcode-1" class="posts-shortcode">
            <ul>
                {% for item in values.seccionesBlog.secciones %}
                <li class="post-shortcode-item grid_3">
                    <div class="details-wrap">

                        <div class="featured-thumbnail">
                            {% if item.imagen %}
                            <div class="image-wrap">
                                <a class="image-wrapper" href="{{item.url.url}}"><img src="{{appPath}}/{{theme}}/{{item.imagen}}" alt="{{item.titulo}}"><span class="zoom-icon none"></span></a>
                            </div>
                            {% endif %}                                
                        </div>

                        <!-- end of .featured-thumbnail -->
                        <div class="tilte">
                            <h3>
                                <a href="{{item.url.url}}">{{item.titulo}}</a>
                            </h3>
                        </div>
                    </div>
                 </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
