{% extends layout %}

{% block contenido %}
<section id="mensaje404">
    <img src="{{app.path}}/{{theme}}/images/aspa.png" alt="{{macro.idioma('error404')}}" title="{{macro.idioma('error404')}}" />
    <p>{{macro.ididoma('loSentimos')}}<br />{{macro.idioma('localizarPagina')}}</p>
    <p class="exito">{{macro.idioma('navegarPorMenus')}}</p>
</section>
{% endblock %}

