<div class="grid_12">
    <div class="h-wrapper">
        <h3><a href="{{app.path}}/Contacto">{{macros.idiomas('conocenos')}}</a><span class="line"></span></h3>
    </div>
    {#
    <div class="featured-thumbnail image-frame left">
        <div class="image-wrap">
            <a class="image-wrapper" href="images/custom.png" data-rel="prettyPhoto[gallery]"><img src="images/custom.png" alt="" /><span class="zoom-icon magnify"></span></a>
        </div>
    </div>
    #}
    <h4>{{macros.idiomas('estamosEnMaracena')}}</h4>
    <p>&ldquo;{{macros.idiomas('textoPresentacion')}}&rdquo;</p>
    <p>{{macros.idiomas('textoPresentacion2')}}</p>
    <p>{{macros.idiomas('textoPresentacion3')}}</p>
</div>