<div id="example4">
    <ul>
        <li class="frame-0">
            <img src="{{app.path}}/{{theme}}/images/slider-pestana-1_{{values.LANGUAGE}}.png" class="pestana" />
            <div class="frame-content fondo_1">
                <h3 class="titular1">{{values.TEXTS.hematologia}}</h3>
                <span class="subtitular1">{{values.TEXTS.hematologiaAcordeonSubtitulo}}</span>
                <p class="parrafo1">{{values.TEXTS.hematologiaAcordeonParrafo}}</p>
                <a href="{{app.path}}/analisis-clinicos" title="{{values.LABELS.verMas}}" class="botonPeq">{{values.LABELS.verMas}}</a>
            </div>
        </li>
        <li class="frame-1">
            <img src="{{app.path}}/{{theme}}/images/slider-pestana-2_{{values.LANGUAGE}}.png" class="pestana" />
            <div class="frame-content fondo_2">
                <h3 class="titular2">{{values.TEXTS.oferta}}</h3>
                <span class="subtitular2">{{values.TEXTS.ofertaAcordeonSubtitulo}}</span>
                <p class="parrafo2">{{values.TEXTS.ofertaAcordeonParrafo}}</p>
                <a href="{{app.path}}/optica" title="{{values.LABELS.verMas}}" class="botonPeq">{{values.LABELS.verMas}}</a>
            </div>
        </li>
        <li class="frame-2">
            <img src="{{app.path}}/{{theme}}/images/slider-pestana-3_{{values.LANGUAGE}}.png" class="pestana" />
            <div class="frame-content fondo_3">
                <h3 class="titular3">{{values.TEXTS.ortopedia}}</h3>
                <span class="subtitular3">{{values.TEXTS.ortopediaAcordeonSubtitulo}}</span>
                <p class="parrafo3">{{values.TEXTS.ortopediaAcordeonParrafo}}</p>
                <a href="{{app.path}}/parafarmacia" title="{{values.LABELS.verMas}}" class="botonPeq">{{values.LABELS.verMas}}</a>
            </div>
        </li>
    </ul>
</div>