<div id="banda_ubicacion">
    <div class="contenedor_central">
        <ul class="globitos">
            <li class="ubicacion"><a href="{{app.path}}/donde-estamos" title="{{macro.idioma('dondeEstamos')}}">{{macro.idioma('dondeEstamos')}}</a></li>
            <li class="abierto">{{macro.idioma('servicio24Horas')}}</li>
            <li class="telefono">{{values.datosContacto.telefono1}}</li>
        </ul>
        {% include '_global/banderas.html.twig' %}
    </div>
</div>