{% set nBanner=values.banner|length %}
{% if nBanner<=5 %}
    <ul class="carruselBanners">
        {% for banner in values.banner %}
        <li class="thumbnailIndividual">
            <a href="{{banner.url.url}}" title="{{banner.titulo}}" rel="pop-up"><img src="{{banner.imagenes[0]}}" title="{{banner.titulo}}" alt="{{banner.titulo}}" /></a>
        </li>
        {% endfor %}

    </ul>        
{% else %}    
    <div id="newsticker-demo">    
        <div class="newsticker-jcarousellite">
            <ul>
                {% for banner in values.banner %}
                <li>
                    <div class="thumbnail">
                        <a href="{{banner.url.url}}" title="{{banner.titulo}}" rel="pop-up"><img src="{{banner.imagenes[0]}}" title="{{banner.titulo}}" alt="{{banner.titulo}}" /></a>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>

    </div>
{% endif %}
