<ul id="enlaces_iconos">
    <li id="laboratorio">
        <a href="{{app.path}}/analisis-clinicos" title="{{values.TEXTS.laboratorio}}">
            <span class="titular_icono">{{values.TEXTS.laboratorio}}</span>
            <span class="texto_icono">{{values.TEXTS.laboratorioDescripcion}}</span>
        </a>
    </li>

    <li id="parafarmacia">
        <a href="{{app.path}}/parafarmacia" title="{{values.TEXTS.parafarmacia}}">
            <span class="titular_icono">{{values.TEXTS.parafarmacia}}</span>
            <span class="texto_icono">{{values.TEXTS.parafarmaciaDescripcion}}</span>
        </a>
    </li>

    <li id="formulas">
        <a href="{{app.path}}/formulas-magistrales" title="{{values.TEXTS.formulasMagistrales}}">
            <span class="titular_icono">{{values.TEXTS.formulasMagistrales}}</span>
            <span class="texto_icono">{{values.TEXTS.formulasMagistralesDescripcion}}</span>
        </a>
    </li>

    <li id="optica">
        <a href="{{app.path}}/optica" title="{{values.TEXTS.optica}}">
            <span class="titular_icono">{{values.TEXTS.optica}}</span>
            <span class="texto_icono">{{values.TEXTS.opticaDescripcion}}</span>
        </a>
    </li>
</ul>