<div class="sliderContainer">
    <div id="botones_slider">
      <a href="#siguiente" class="next" title="{{values.LABELS.siguiente}}"></a>
      <a href="#anterior" class="prev" title="{{values.LABELS.anterior}}"></a>
    </div>

    <div id="slider">
        <div class="slidesContainer">
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-1.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-2.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-3.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-4.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-5.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
            <div class="slide"><img src="{{app.path}}/{{theme}}/images/Farmacia-Mingorance-Marbella-6.jpg" alt="{{values.TEXTS.farmaciaMingorance}}" title="{{values.TEXTS.farmaciaMingorance}}" /></div>
        </div> <!-- /slidesContainer -->
    </div> <!-- /slider -->
</div>