<div id="pie_derecha">
    <div id="col_izqda">
        <a href="{{app.path}}" title="{{values.datosContacto.empresa}} | {{values.datosContacto.poblacion | capitalize}}" id="pie_mingorance"><img src="{{app.path}}/{{theme}}/images/farmacia-mingorance-en-marbella.png" alt="{{values.datosContacto.empresa}} | {{values.datosContacto.poblacion | capitalize}}" title="{{values.datosContacto.empresa}} | {{values.datosContacto.poblacion | capitalize}}" /></a>
        <a href="{{app.path}}/{{values.LABELS.urls.avisoLegal}}" rel="iframe-800-550" id="aviso" class="pirobox" title="{{values.LABELS.avisoLegal}}">{{values.LABELS.avisoLegal}}</a>
    </div>

    <ul id="situacion">
        <li id="direccion">{{values.datosContacto.empresa}} | {{values.datosContacto.codigoPostal}} ({{values.datosContacto.poblacion | upper}})</li>
        <li id="tlf">{{values.datosContacto.telefono1}} | {{values.datosContacto.telefono2}}</li>
        <li id="mail"><a href="mailto:{{values.datosContacto.emailInfo}}">{{values.datosContacto.emailInfo}}</a></li>
    </ul>

    <div id="redes_sociales">
        <span class="redes"><a href="" title="Twitter"><img src="{{app.path}}/{{theme}}/images/icono-pie-twitter.png" alt="Twitter" title="Twitter" /></a></span>
        <span class="redes"><a href="" title="Facebook"><img src="{{app.path}}/{{theme}}/images/icono-pie-facebook.png" alt="Facebook" title="Facebook" /></a></span>
        <span class="redes"><a href="" title="Tuenti"><img src="{{app.path}}/{{theme}}/images/icono-pie-tuenti.png" alt="Tuenti" title="Tuenti" /></a></span>

        <span id="diseno_web">
            <a href="http://www.albatronic.com" title="ALBATRONIC | {{values.firma.service}} en {{values.firma.location}}" rel="pop-up" id="diseno_web">{{values.firma.service}} {{values.firma.location}}</a>
        </span>
    </div>
</div>