<div class="grid_12">  
    <div class="stunningtext">
	<h3 class="stunningtext-title">{{values.TEXTS.asesoramiento}}</h3>
	<div class="stunningtext-caption">
		<p>{{values.TEXTS.textoServicios}}</p>
		<a class="normal-button larg stunning" href="{{app.path}}/{{values.TEXTS.urlContacto}}">{{values.TEXTS.contactaConNosotros}}</a>
	</div>
    </div>
</div>	