{% extends layout %}

{% set contenido = values.contenidoDesarrollado.contenido %}
{% block content %}
<div id="sub-main" class="container_12">
    <div id="content">
	<div class="h-wrapper h1 grid_12">	
	    <h1 id="politica">{{contenido.Titulo}}<span class="line"></span></h1>
	</div>
    </div>
	
    <div id="content" class="grid_12">

	<div id="postsinglepage" class="posts">
	    {% if contenido.PathNameImagenN(1) %}
	    <div class="featured-thumbnail-wrapper image">		   		    
		<div class="featured-thumbnail">
		    <div class="image-wrap">
			<img src="{{theme}}/{{contenido.PathNameImagenN(1)}}" alt="{{contenido.Titulo}}" title="{{contenido.Titulo}}" />
		    </div>
		</div>		  
	    </div>
	    {% endif %}
	    		
	    <div class="single-post">
		<div class="post-content">
		    <div class="single-port">
			<h2>{{contenido.Subtitulo}}</h2>
		    </div>
		    
		    <div class="post-content port-content">
			<p><strong class="dark-color">{{contenido.Resumen}}</strong></p>
			{% autoescape false%}{{contenido.Desarrollo}}{% endautoescape %}
		    </div>
		
                    {% if values.contenidoDesarrollado.docsAdjuntos | length > 0 %}
		    <div class="author-info adjuntos">
                        <h4>{{values.LABELS.archivosAdjuntos}}</h4>
			<ul>
                            {% for item in values.contenidoDesarrollado.docsAdjuntos %}
                                <li><a href="{{app.path}}/{{item.PathName}}" title="{{item.Title}}" target="_blank">{{item.Title}}</a></li>
                            {% endfor %}
			</ul>	
		    </div>
                    {% endif %}
                        
                    {% if values.contenidoDesarrollado.enlacesRelacionados.enlaces | length > 0 %}                        
		    <div class="author-info adjuntos">
                        <h4>{{values.LABELS.enlacesRelacionados}}</h4>
			<ul>
                            {% for enlace in values.contenidoDesarrollado.enlacesRelacionados.enlaces %}
			    <li>{{ macro.link(enlace.titulo,enlace.titulo,enlace.url.url,enlace.url.targetBlank) }}</li>
                            {% endfor %}
			</ul>	
		    </div>
                    {% endif %}
                        
                    {% if values.contenidoDesarrollado.galeriaFotos.bloqueThumbnail | length > 0 %}
		    <div class="author-info adjuntos galeria">
                        <h4>{{values.LABELS.galeria}}</h4>
			<ul>
                            {% for imagen in values.contenidoDesarrollado.galeriaFotos.bloqueThumbnail%}
                            <li>
                                <a href="{{app.path}}/{{imagen.PathName}}" title="" rel="gallery" class="pirobox_gall{{contenido.Id}}">
                                    <img src="{{app.path}}/{{imagen.PathNameThumbnail}}" alt="" title="" />
                                </a>
                            </li> 
                            {% endfor %}  
                                                          
			</ul>
                        <a href="" title="" rel="gallery" class="pirobox_gall{{contenido.Id}}"></a>
		    </div> 
                    {% endif %}
			
                    <a href="javascript:history.back(-1)" title="{{macro.idioma('volverAtras')}}" class="buttons boton right">{{macro.idioma('volverAtras')}}</a> 
		</div>
	    </div>
	</div>			
	{% if contenido.PublicarBlog.IDTipo == 1 %}
            {% include 'Blog/otrosPosts.html.twig' %}
        {% endif %}
    </div>
    {# include 'Contenidos/sidebar.html.twig' #} 
	
</div>
{% endblock %}