{% extends layout %}

{% block content %}
<div id="sub-main" class="container_12">
    <div id="content">    
	<div class="h-wrapper h1 grid_12">	
	    <h1>{{values.contenido.Titulo}}<span class="line"></span></h1>
	</div>
    </div>
    <div id="content" class="grid_12">
	<div id="postsinglepage" class="posts">
	    {% if values.contenido.PathNameImagenN(1) %}
	    <div class="featured-thumbnail-wrapper image">		   		    
		<div class="featured-thumbnail">
		    <div class="image-wrap">
			<img src="{{theme}}/{{values.contenido.PathNameImagenN(1)}}" alt="{{values.contenido.Titulo}}" title="{{values.contenido.Titulo}}" />
		    </div>
		</div>		  
	    </div>
	    {% endif %}            
            <div class="single-post">
                <div class="post-content">
                {% if values.contenido.Subtitulo%}                    
                    <div class="single-port">
                        <h2>{{values.contenido.Subtitulo}}</h2>
                    </div>
                {% endif %}

                {% autoescape false%}{{values.contenido.Introduccion}}{% endautoescape %}
                </div>
            </div>
            <a href="javascript:history.back(-1)" title="{{macro.idioma('volverAtras')}}" class="buttons boton right">{{macro.idioma('volverAtras')}}</a>                    
        </div>
    </div>
</div>
{% endblock %}