<div class="widget_archive widget">
    <div class="h-wrapper">
        <h3>{{macros.idiomas('archivo')}}<span class="line"></span></h3>
    </div>
    <ul>
    <form name="formBlogArchivosMes" id="formBlogArchivosMes" method="post" action="">
        <input name="controller" value="Blog" type="hidden" />
        <input name="action" id="action" value="index" type="hidden" />
        <input name="anio" id="anioArchivosMes" value="" type="hidden" />
        <input name="mes" id="mesArchivosMes" value="" type="hidden" />
        {% for item in values.postsPorMes %}
        <li>
            <a href="#" onclick="$('#anioArchivosMes').val('{{item.anio}}');$('#mesArchivosMes').val('{{item.numeroMes}}');$('#formBlogArchivosMes').submit();">{{item.textoMes}} {{item.anio}}</a>
            &nbsp;({{item.nArticulos}})
        </li>
        {% endfor %}
    </form>
    </ul>
</div>