<img src="{{app.path}}/{{theme}}/images/icono-contacto-mapas.png" alt="{{values.TEXTS.textoSEOMapas}}" title="{{values.TEXTS.textoSEOMapas}}" id="mapitas" />
<ul id="datos">
    <li id="cont_domic">{{values.datosContacto.direccion}}<br />{{values.datosContacto.codigoPostal}} ({{values.datosContacto.poblacion}})</li>
    <li id="cont_tlf">{{values.datosContacto.telefono1}}</li>
    <li id="cont_mail"><a href="mailto:{{values.datosContacto.emailInfo}}" title="{{values.TEXTS.escribenosA}}: {{values.datosContacto.emailInfo}}">{{values.datosContacto.emailInfo}}</a></li>
</ul>