<h3>{{values.TEXTS.redesSociales}}</h3>
<ul id="rrss">
    <li><a href="#" title="{{values.TEXTS.twitter}}"><img src="{{app.path}}/{{theme}}/images/icono-contacto-twitter.png" alt="{{values.TEXTS.twitter}}" title="{{values.TEXTS.twitter}}" /></a></li>
    <li><a href="#" title="{{values.TEXTS.facebook}}"><img src="{{app.path}}/{{theme}}/images/icono-contacto-facebook.png" alt="{{values.TEXTS.facebook}}" title="{{values.TEXTS.facebook}}" /></a></li>
    <li><a href="#" title="{{values.TEXTS.tuenti}}"><img src="{{app.path}}/{{theme}}/images/icono-contacto-tuenti.png" alt="{{values.TEXTS.tuenti}}" title="{{values.TEXTS.tuenti}}" /></a></li>
</ul>

<ul class="parking">
    <li><b>{{values.TEXTS.parkingMolino}}</b></li>
    <li>{{values.TEXTS.parkingMolinoDireccion}}</li>
    <li><b>{{values.TEXTS.parkingTelefonoCorto | upper}} </b>{{values.TEXTS.parkingMolinoTelefono}}</li>
</ul>

<ul class="parking">
    <li><b>{{values.TEXTS.parkingOccidental}}</b></li>
    <li>{{values.TEXTS.parkingOccidentalDireccion}}</li>
    <li><b>{{values.TEXTS.parkingTelefonoCorto | upper}} </b>{{values.TEXTS.parkingOccidentalTelefono}}</li>
</ul>